#EOS_USER_STORAGE_PATH=.eos-state/data/users.json
#EOS_TENANT_STORAGE_PATH=.eos-state/data/tenants.json
#EOS_WORKSPACE_STORAGE_PATH=.eos-state/data/workspaces.json
#EOS_MEMBERSHIP_STORAGE_PATH=.eos-state/data/memberships.json
#EOS_SESSION_STORAGE_PATH=.eos-state/data/sessions.json
